<ng-container *transloco="let t">
    <mat-toolbar class="fixed top-0 z-50 flex items-center justify-between bg-primary text-on-primary px-4">
        <!-- Left section -->
        <div class="flex items-center gap-2">
            <!-- Menu button only visible on mobile -->
            <button mat-icon-button (click)="toggleSidebar()" class="block md:!hidden hover:bg-primary-dark"
                matTooltip="Toggle Sidebar" aria-label="Toggle sidebar">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="text-xl font-semibold">EClinic</span>
        </div>

        <!-- Right section -->
        <div class="flex items-center gap-2">

            <button mat-icon-button (click)="toggleTheme()" class="hover:bg-primary-dark" matTooltip="Toggle Theme"
                aria-label="Toggle theme">
                <mat-icon>{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
            </button>

            <button mat-flat-button [matMenuTriggerFor]="beforeMenu" matTooltip="Toggle Language">
                <mat-icon>language</mat-icon>
                {{currentLanguage()}}
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="toggleLanguage('en')" type="button">English</button>
                <button mat-menu-item (click)="toggleLanguage('fr')" type="button">French</button>
                <button mat-menu-item (click)="toggleLanguage('cn')" type="button">Chinese</button>
                <button mat-menu-item (click)="toggleLanguage('jp')" type="button">Japanese</button>
            </mat-menu>


            @if (user()) {
            @if(user()?.role === UserRole.Nurse) {
            <button id="notifications" mat-icon-button (click)="showNotifications()" aria-label="Show Notifications">
                <mat-icon role="alert" class="notification-icon"
                    [matBadge]="sseService.message().length">notifications</mat-icon>
            </button>
            }
            <button mat-flat-button (click)="logout()" matTooltip="Logout"
                class="ml-2 flex items-center gap-2 bg-primary-dark hover:bg-primary-darker">
                <span class="hidden md:block capitalize">{{ user()?.userName }}</span>
                <mat-icon class="h-5 w-5">logout</mat-icon>
            </button>
            } @else {
            <button mat-flat-button [routerLink]="['/login']"
                class="ml-2 flex items-center gap-2 bg-primary-dark hover:bg-primary-darker">
                <mat-icon class="h-5 w-5">login</mat-icon>
                <span>Login</span>
            </button>
            }
        </div>
    </mat-toolbar>
</ng-container>