<nav *transloco="let t">
    <mat-nav-list>
        <!-- Toggle button for large screens -->
        <div class="hidden md:block">
            <a mat-list-item (click)="toggleLabels()" [matTooltip]="showLabels() ? 'Hide labels' : 'Show labels'"
                matTooltipPosition="right" class="hover:bg-gray-200">
                <mat-icon matListItemIcon>
                    {{showLabels() ? 'arrow_left' : 'arrow_right'}}
                </mat-icon>
                @if(showLabels()){
                <span class="text-sm font-medium">{{t('collapse')}}</span>
                }
            </a>
            <mat-divider></mat-divider>
        </div>

        <!-- Menu items -->
        @for(item of menuItems(); track item.label){
        <app-menu-item [item]="item" [showLabel]="showLabels()"></app-menu-item>
        }
    </mat-nav-list>
</nav>