.signature-container {
  text-align: start;
}

canvas {
  touch-action: none; /* Prevent touch scrolling on mobile devices. */
  border: 1px solid var(--mat-app-secondary);
  border-radius: 8px;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 1001px) {
  .canvas {
    width: 600px; /* Fixed size for larger screens */
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .canvas {
    width: 400px; /* Fixed size for larger screens */
  }
}
