
mat-form-field {
  --mdc-outlined-text-field-outline-color: var(--mat-app-outline);
  --mdc-outlined-text-field-label-text-color: var(--mat-app-on-surface);
  --mdc-outlined-text-field-input-text-color: var(--mat-app-on-surface);
}



:host {
  --mdc-protected-button-disabled-container-color: var(--mat-app-secondary);
  --mdc-protected-button-container-color: var(--mat-app-primary);
  --mdc-protected-button-label-text-color: var(--mat-app-on-primary);
  --mdc-protected-button-disabled-label-text-color: var(--mat-app-on-primary);
}
