<div class="p-4 max-w-7xl mx-auto">
  <!-- Loading overlay -->
  @if (isLoadingResults()) {
  <div class="fixed inset-0 bg-black/20 flex items-center justify-center z-50">
    <mat-spinner></mat-spinner>
  </div>
  }

  <!-- Error message -->
  @if (errorMessage()) {
  <div class="w-full p-4 mb-4 text-red-700 bg-red-50 dark:bg-red-900/50 dark:text-red-200 rounded-md">
    {{ errorMessage() }}
  </div>
  }


  <h3 class="text-xl font-semibold mb-4 flex items-center gap-2">
    <span>Room: {{roomNumber}}</span>
    <span class="text-gray-600">Patient: {{patientInWaiting()?.patientName}}</span>
  </h3>

  <!-- Action Buttons -->
  <div class="flex flex-wrap gap-4 mb-6">
    <button mat-fab extended (click)="addToRoom()" [disabled]="isAssigned()"
      class="bg-blue-600 hover:bg-blue-700 transition-colors">
      <mat-icon>add</mat-icon>
      Add
    </button>

    <button mat-fab extended (click)="removeFromRoom()" [disabled]="!isAssigned()"
      class="bg-red-600 hover:bg-red-700 transition-colors">
      <mat-icon>delete</mat-icon>
      Remove
    </button>

    <button mat-fab extended (click)="onSave()" class="bg-green-600 hover:bg-green-700 transition-colors">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>


  <!-- Beds Grid -->
  <div cdkDropList class="grid grid-cols-1 md:grid-cols-2 gap-4" (cdkDropListDropped)="drop($event)">
    @for (bed of bedsOfRoom; track bed.bedNumber) {
    <div class="p-4 rounded-lg shadow-md transition-all duration-200 cursor-move
               {{!bed.patientName ? 'bg-gray-100' : 'bg-white'}}
               {{bed.patientName === patientInWaiting()?.patientName ? 'ring-2 ring-blue-500' : ''}}"
      [class.empty]="!bed.patientName" [class.selected]="bed.patientName === patientInWaiting()?.patientName" cdkDrag>
      <div class="bg-gray-200 rounded p-2" *cdkDragPlaceholder></div>

      <div class="space-y-2 text-center">
        <p class="font-medium text-[var(--mat-app-primary)] dark:text-[var(--mat-app-primary-container)]">Bed:
          {{bed.bedNumber}}</p>
        <p class="text-gray-600">
          Patient: {{bed.patientName || 'empty'}}
        </p>
        <p class="text-gray-600">
          Doctor: {{bed.practitionerName || 'empty'}}
        </p>
      </div>
    </div>
    }
  </div>
</div>