<div class="flex flex-col space-y-6 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <!-- Image Container -->
    <div class="relative w-full max-w-[300px] h-[200px] overflow-hidden rounded-lg">
        <img [src]="imagePath()" alt="Profile" class="w-full h-full object-cover" />
    </div>

    <!-- Profile Information -->
    <div class="space-y-4 text-gray-800 dark:text-gray-200">
        <!-- Name -->
        <div class="flex items-center space-x-2">
            <span class="font-semibold uppercase text-sm text-gray-600 dark:text-gray-400">Name:</span>
            <span class="text-base">
                {{(profileInfo().firstName) + ' ' + (profileInfo().lastName)}}
            </span>
        </div>

        <!-- Age -->
        <div class="flex items-center space-x-2">
            <span class="font-semibold uppercase text-sm text-gray-600 dark:text-gray-400">Age:</span>
            <span class="text-base">{{profileInfo().age}}</span>
        </div>

        <!-- Specialty (if available) -->
        @if (profileInfo().specialty) {
        <div class="flex items-center space-x-2">
            <span class="font-semibold uppercase text-sm text-gray-600 dark:text-gray-400">Specialty:</span>
            <span class="text-base">{{profileInfo().specialty}}</span>
        </div>
        }

        <!-- Email (if available) -->
        @if (profileInfo().email) {
        <div class="flex items-center space-x-2">
            <span class="font-semibold uppercase text-sm text-gray-600 dark:text-gray-400">Email:</span>
            <span class="text-base">{{profileInfo().email}}</span>
        </div>
        }

        <!-- Phone Number (if available) -->
        @if (profileInfo().phoneNumber) {
        <div class="flex items-center space-x-2">
            <span class="font-semibold uppercase text-sm text-gray-600 dark:text-gray-400">Phone:</span>
            <span class="text-base">{{profileInfo().phoneNumber}}</span>
        </div>
        }
    </div>
</div>