.user-table-container {
  margin: 1rem auto;
}

.role-select-container {
  position: relative;
  top: 10px;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 120px;
}
