<!-- Loading overlay -->
@if (isLoading()) {
<div class="fixed inset-0 bg-black/20 flex items-center justify-center z-50">
    <mat-spinner></mat-spinner>
</div>
}

<div class="my-4 flex justify-begin items-start">
    <button mat-stroked-button (click)="save()">
        <mat-icon>save</mat-icon>
        Save
    </button>
</div>

<div class="min-h-[300px] max-h-[600px] overflow-auto">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-full">

        <!-- User ID Column -->
        <ng-container matColumnDef="userID">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let element"> {{element.userID}} </td>
        </ng-container>

        <!-- User Name Column -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <!-- User Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> User Role </th>
            <td mat-cell *matCellDef="let element">
                <div class="relative top-1">
                    <mat-form-field>
                        <mat-select [(value)]="element.role">
                            @for (role of userRoles; track role) {
                            <mat-option [value]="role.value">{{role.text}}</mat-option>
                            }</mat-select>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5,10]" class="flex"
        aria-label="Select page of users"></mat-paginator>
</div>
