:host {
    --mdc-protected-button-disabled-container-color: var(--mat-app-secondary);
    --mdc-protected-button-container-color: var(--mat-app-primary);
    --mdc-protected-button-label-text-color: var(--mat-app-on-primary);
    --mdc-protected-button-disabled-label-text-color: var(--mat-app-on-primary);
  }
  