<div class="flex flex-col h-screen overflow-hidden">
    <app-header></app-header>
    <!-- Main Content -->
    <div class="flex flex-1 overflow-hidden pt-[56px] md:pt-[64px]"
        [style.background-color]="'var(--mat-sys-surface-container)'">
        <!-- Sidebar -->
        <app-sidebar class="h-[calc(100vh-56px)] md:h-[calc(100vh-64px)]" />

        <!-- Main content area -->
        <main class="flex-1 p-2 md:p-6 overflow-hidden">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>