<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  @for(card of cards; track $index; let i = $index) {
    <div class="p-5 text-center rounded-lg border border-gray-300"
         [ngClass]="{
           'bg-[var(--mat-app-primary-container)]': i === 0,
           'bg-[var(--mat-app-secondary-container)]': i === 1,
           'bg-[var(--mat-app-tertiary-container)]': i === 2,
           'bg-[var(--mat-app-surface-variant)]': i === 3
         }">
      <h3>{{card.title}}</h3>
      <div class="flex justify-center items-center">
        <mat-icon class="mr-2">{{card.icon}}</mat-icon>{{card.value}}
      </div>
    </div>
  }
</div>
