/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "tailwindcss";
// @import "./app/themes/greentheme.css";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.dark {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: dark,
      ),
    )
  );
}

.accent {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

// Material Tailwind Fixes
.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}

// Custom Matrial Component Overrides
:root {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-app-primary-container),
      supporting-text-color: var(--mat-app-on-primary-container),
    )
  );
}
