<div class="flex items-begin gap-2 ">
  <mat-form-field class="w-full">
    <mat-label>Type your message</mat-label>
    <input matInput #messageInput [formControl]="messageControl" placeholder="Type your message..." type="text" />
    <button mat-icon-button matSuffix (click)="sendMessage()" [attr.aria-label]="'send message'"
      [class.disabled]="!messageControl.value.trim()" [disabled]="!messageControl.value.trim()" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
    <mat-hint align="end" class="text-xs text-gray-500">
      {{ messageControl.value.length }}/{{ MAX_MESSAGE_LENGTH }}
    </mat-hint>
  </mat-form-field>

</div>